	/*背景设置*/
	body{background:url(../../img/foreword.img/bg.png.png);}
	.maxbox{width: 100%}
	.right{width:35%;float:left;padding-top:10px;}
	.left{width:65%;float: left;font-size: 90px;color:#F99F05 ;}
	/*插图*/
	.picture {padding-left: 260px}
	.box{text-align: right;padding-right: 120px;clear: both;padding-top: 100px}
	.letter{text-decoration: none;color:#F99F05;font-size: 25px;}
	/*文字部分的设置*/
	.words {padding-left: 43px;padding-top: 40px;letter-spacing: 7px}
	
