	body{ 
			background:url(../../img/foreword.img/bg.png.png); /*背景图片*/
			background-repeat:no-repeat; /*平铺方式不重复*/
			
		}
		.left{ /*左箭头*/
			float: left; /*悬浮左边*/
			width:5%; /*设置宽度*/
			padding-top: 400px;
			margin: 5px; /*外边距*/
			margin-bottom:50px;
		}
		.right{ /*右箭头*/
			float: right;
			width:5%;
			padding-top: 400px; /*顶部边距250像素*/
			margin: 5px;
			margin-bottom:50px;
      		}
		.frame{ /*数据图表*/
			float: left;
			width:40%;
			height:380px; /*设置高度280像素*/
			margin-left: 80px; /*左边距*/
			margin-bottom:10px;
			padding-top:50px;
			cursor:pointer;
			
		}
		.trim{ /*文字段落*/
			float:right;
			width:35%;
			height:420px;
			text-align:left; /*左对齐*/
			text-indent: 2em; /*首行缩进2字符*/
			padding-top:10px;
			margin-right:60px;
			letter-spacing: 2px; /*文本间距2像素*/
			line-height: 1.5; /*1.5倍行高*/
			color:#FFFFFF;
			cursor:text;
		}
		.arrow{
			background-image:url(../../img/foreword.img/left.png.jpg);
			width: 50px;
			height: 50px;
			display:block;/* 设置行内元素为块状元素才能设置宽高 */
			background-repeat: repeat;
			background-position:10% 10%; 
			background-size: 100%;
		}
		.icon{
			background-image:url(../../img/foreword.img/right.png.png);
			width: 50px;
			height: 50px;
			display:block;
			background-repeat: repeat;
			background-position:10% 10%;
			background-size: 100%;
		}

